@using WebAppPelda.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SubPage</h1>
    <p>Saját aloldal</p>
    <p>@((Model as Customer).Name)</p>
	<p>@((Model as Customer).Phone)</p>
    <p>@((Model as Customer).Score)</p>
</div>
